process {

        // all processes - to be used for debugging purposes only
        //publishDir = [
        //    path: { "${params.outputdir}/processing/${task.process}" }, // Use task.process directly without modification
        //    mode: 'copy',
        //    saveAs: { filename -> filename.equals('versions.yml') ? null : filename } // Save all files except 'versions.yml'
        //]

	// final output processes to be provided to user
	withName: 'METAEUK_EASYPREDICT' {
		publishDir = [
			path: "${params.outputdir}/metaeuk_results",
			mode: 'copy'
		]
                ext.args = '--protein 1 --max-intron 500'
            }
	
	withName: 'PROCESS_ANNOTATIONS' {
                publishDir = [
                        path: "${params.outputdir}/Final_PAV_result",
                        mode: 'copy'
                ]
	}

}
