params {

workflows {
        // Named Workflows 
        'test_metaeuk' {
            description = "running metaeuk"
            includes = ["test_metaeuk"]
            is_workflow = true
            modules = ["test_metaeuk"]
        }
    // Named Subworkflow
    'test_metaeuk' {
            description = "Process assembly and run metaeuk"
            ext = "fasta"
            modules = ["test_metaeuk"]
        }
        // Modules (houses params.json and params.config, where applicable can be subworkflow)
        // local
        'test_metaeuk' {
            path = "modules/local/test_metaeuk"
        }

     }
}
